<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WearWeather.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WearWeatherWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E101782F2F02844400D318B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E101783C2F02844600D318B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10178462F02844600D318B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E105E5752F44E85F00A886B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
